<h2 class="screen-align">Newscreen</h2>
<div class="">
    <div id="template-i19x" class="gjs-row">
        <div id="template-iy9h" class="gjs-cell">
            <label id="template-ijum" class="">name</label>
            <input type="text" id="template-izkr" [(ngModel)]="ticket.name"
            [ngModelOptions]="{standalone: true}" ngDefaultControl class="form-control "
            />
            <div type="button" id="template-ih4cu" (click)="GpCreate()" class="btn btn-primary "></div>
        </div>
        <div id="template-i7ei" class="gjs-cell">
            <label id="template-itcj" class="">email</label>
            <input type="text" id="template-io8d" placeholder="enter the email"
            required="true" [(ngModel)]="ticket.email" [ngModelOptions]="{standalone: true}"
            ngDefaultControl class="form-control " />
        </div>
    </div>
</div>